:host {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
